[Unit]
Description=xGov Committee Service Runner
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
NotifyAccess=all
WorkingDirectory=/opt/xgov-committees/runner
ExecStart=/usr/bin/node /opt/xgov-committees/runner/dist/index.js
WatchdogSec=65
User=xgov-committee-runner
